.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 88vh; /* Ensure full height */

}

.parent {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: rgb(208,240,239);
  background: linear-gradient(90deg, rgb(199, 198, 223) 0%, rgba(208,240,239,1) 54%);
  border-radius: 20px; /* Border radius for rounded corners */
  padding: 20px; /* Padding inside the phone screen */
  height: 427px;
  width: 246px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Box shadow for a phone-like appearance */
}

.head {
  margin-top:13px;
}
.row-0 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -2px;
  position: relative;
  bottom: 113px;
  justify-content: space-between;
}

.cam {
  position: relative;
  left: -16px;
}

.row-1 {
  display: flex;
  justify-content: space-around; /* Spread the icons evenly */
  align-items: center;
  margin-bottom: 20px; /* Add margin between rows */
  flex-wrap: wrap;
  position: relative;
  top: -24px;

}

.row-2 {
  display: flex;
  justify-content: space-around; /* Spread the icons evenly */
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 24px;
}


.row-3 {
  position: relative;
  top: 90px;

}

.row-3 button {
  border:none;
  background-color: transparent;
  cursor: pointer;
}
/* Style for each icon */
.icon {
  font-size: 43px; /* Adjust the icon size */
  color: white; /* Icon color */
  background-color: #61dafb; /* Background color for the icons */
  border-radius: 10%; /* Border radius for rounded icons */
  padding: 10px; /* Padding inside each icon */
  cursor: pointer; /* Add pointer cursor for interaction */
}

/* Add specific styles for each icon */
.twitter {
  background-color: black; /* Twitter color */
}

.LinkedIn {
  background-color: #0077b5; /* LinkedIn color */
}

.GitHub {
  background-color: #211f1f; /* GitHub color */
}

.hashnode {
  background-color: #2962ff; /* Hashnode color */
}

.resume {
  background-color: #4caf50; /* Resume color */
}

.mail {
  background-color: #ff5722; /* Mail color */
}
.camera-container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  overflow: hidden; /* Hide any content that exceeds the container height */
}

/* Optional: Adjust video height to fit within .camera-container */
.camera-container video {
  height: 100%;
}
