/* unlock.css */
/* LockScreen.css */

.lock{
  position: absolute;
  width: 286px;
  height: 470px;
  background: linear-gradient(45deg, #7f7fd5, #86a8e7, #91eae4);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure the lock screen is on top of other elements */
  color: white;
}

.charging {
  font-size: 24px;
  /* margin-bottom: 10px; */
  position: relative;
  top: -165px;
  left: 108px;
}


.timing {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
  left: 2px;
  top: -31px;

}

/* Add any additional styles for your unlock screen */
