/* unlock.css */

.lock {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #7f7fd5, #86a8e7, #91eae4);
    height: 61vh;
    position: absolute;
    /* overflow: hidden; */
    z-index: 10001;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    left: 619px;
    width: 16vw;
}

.charging {
  color: white;
  font-size: 24px;
  margin-left: 10px;
}

.timing {
  color: white;
  font-size: 24px;
  margin-right: 10px;
}

/* Additional styles for the battery icon */
.charging i {
  font-size: 24px;
}

/* Additional styles for the time display */
.timing {
  font-family: 'Arial', sans-serif;
}
